* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", SimSun;
}

.sso_header {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: #00b38a;
}

.sso_header .logo {
  position: absolute;
  z-index: 9999;
  top: 76px;
  left: 50%;
  margin-left: -350px;
  width: 112px;
  height: 42px;
  background: url(../images/login/logo.png) no-repeat;
  background-size: contain;
}

.content_box {
  width: 552px;
  margin: -205px auto 60px;
  padding: 62px 70px 68px 78px;
  background-color: #fff;
  display: table;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dce1e6;

  position: relative;
  z-index: 1;
}

.content_box .qr_code_content {
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: pointer;
}

.content_box .qr_code_content .qr_code_img {
  width: 52px;
  height: 52px;
  background: url(../images/login/qrcode-normal.svg) left center no-repeat;
  float: left;
}

.content_box .qr_code_content .mobile-info {
  width: 106px;
  height: 34px;
  position: absolute;
  left: 48px;
  background: url(../images/login/wx-login.svg) left center no-repeat;
  animation: infoMove 0.7s;
}

.content_box .left_area {
  width: 290px;
}
.fl {
  float: left;
}

.form_head {
  position: relative;
  z-index: 1;
  height: 33px;
  margin-bottom: 29px;
  border-bottom: 1px solid #ebebeb;
}
.form_head {
  position: relative;
  z-index: 1;
  height: 33px;
  margin-bottom: 29px;
  border-bottom: 1px solid #ebebeb;
}

.form_head li.active {
  color: #00b38a;
}
.form_head li {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  float: left;
  width: 50%;
  height: 33px;
  cursor: pointer;
  text-align: center;
  color: #333;
}

.content_box .tab_active {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 1;
  background-color: #00b38a;
  width: 150px;
  height: 1px;
}

.content_box .tab_active:before, .content_box .tab_active:after {
  position: absolute;
  z-index: 2;
  top: -12px;
  left: 50%;
  margin-left: -3px;
  content: "";
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px solid transparent;
  border-bottom-color: #007b5f;
}

.content_box .tab_active:after {
  z-index: 3;
  top: -11px;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px solid transparent;
  border-bottom-color: #fff;
}

.content_box .input_item {
  position: relative;
}

.input_item:first-child {
  z-index: 2;
}
.clearfix {
  zoom: 1;
}
.input_item {
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.content_box .input {
  box-sizing: border-box;
  width: 290px;
  border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-color: #ededed;
  background: 0 0;
}

.input_white, .dropbtn_white {
  border-color: #f8f8f8;
  background-color: #f8f8f8;
}
.input, .dropbtn {
  font-size: 14px;
  position: relative;
  z-index: 1;
  height: 44px;
  line-height: 44px\9;
  vertical-align: middle;
  color: #333;
  border-width: 1px;
  border-style: solid;
  outline: 0;
}

.content_box .input_item+.input_item {
  margin-top: 20px;
}

.content_box .forgot_pwd {
  position: relative;
  float: right;
  font-size: 14px;
  display: block;
  text-align: right;
  text-decoration: none;
  color: #00b38a;
  margin-top: -5px;
  z-index: 3;
}

.btn_green:hover, .btn_green.btn_active {
  color: #fff;
  border-color: #00b38a;
  background-color: #00b38a;
}


.btn_block {
  display: block;
  width: 100%;
}
.btn_lg {
  font-size: 18px;
  line-height: 46px;
  height: 46px;
}
.btn {
  font-size: 16px;
  line-height: 44px;
  display: inline-block;
  height: 44px;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  outline: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: .05s linear;
  -o-transition: .05s linear;
  transition: .05s linear;
  margin-top: 20px;
}

.content_box .divider {
  position: relative;
  border-left: 1px dashed #ededed;
  height: 274px;
  color: #d8d8d8;
  margin: 0 52px;
}
.fl {
  float: left;
}

.content_box .divider:after {
  position: absolute;
  content: "or";
  left: 50%;
  top: 50%;
  padding: 2px;
  background-color: #fff;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.content_box .right_area {
  width: 150px;
  padding-top: 26px;
  color: #777;
  display: none;
}

.content_box .right_area h5 {
  margin: 44px 0 8px;
  color: #555;
}
h5 {
  font-size: 14px;
}

.content_box .right_area .register_now {
  display: inline-block;
  height: 22px;
  font-size: 16px;
  color: #00b38a;
  padding-right: 23px;
  background: url(../images/login/icon-arrow-right.png) right center no-repeat;
}
a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
}

.vender_login {
  margin-top: 12px;
  text-align: center;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.vender_login{
  display: flex;
  justify-content: space-around;
}
.vender_login  .vender_icon {
  display: inline-block;
  width: 20px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.vender_login  .icon_sina {
  background-image: url(../images/login/icon-sina1.png);
}
.vender_login  .icon_wechat {
  background-image: url(../images/login/icon-wechat1.png);
}
.vender_login  .icon_tencent {
  background-image: url(../images/login/icon-tencent1.png);
}
.vender_login  .icon_baidu {
  background-image: url(../images/login/icon-baidu1.png);
}
