/* 版心 */

.company-bx {
  width: 1200px;
  margin: auto;
}

/* 左浮动 */

.company-fl {
  float: left;
}

/* 右浮动 */

.company-fr {
  float: right;
}

/* 轮播模块 star*/

.company-container {
  width: 100%;
  height: 389px;
  background: url('./images/ia_100000004.JPG') no-repeat;
  background-size: 100% 389px;
}

/* 轮播图内容 */

.company-container h3 {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 3px 9px rgba(0, 0, 0, .25);
  width: 100%;
  height: 48px;
  text-align: center;
  padding: 25px 0 0px;
  font-weight: normal;
}

.company-banner {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  background-color: #ccc;
}

/* 列表 */

.company-banner-list {
  width: 100%;
  overflow: hidden;
  height: 300px;
  position: relative;
}

/* 上一页 */

.company-pre {
  right: -46px;
  background-position: left center;
  cursor: pointer;
  display: block;
  width: 46px;
  height: 240px;
  text-indent: -2000px;
  background-image: url(./images/arrow_0030b9a.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  opacity: .2;
  left: -74px;
}

/* 下一页 */

.company-next {
  right: -46px;
  background-position: right center;
  cursor: pointer;
  display: block;
  width: 46px;
  height: 240px;
  text-indent: -2000px;
  background-image: url(./images/arrow_0030b9a.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  opacity: .2;
  right: -74px;
}

/* 轮播模块 end*/

/* 主题内容 star */

.companyMain-container {
  height: 500px;
}

/* 筛选 */

.company-positionHead {
  background-color: #fafafa;
  margin-top: 35px;
  border: 1px solid #ededed;
}

.company-address {
  height: 15px;
  padding: 12px;
  text-align: left;
  line-height: 15px;
  font-size: 13px;
}
.company-address span{
  color: #555;
    font-size: 13px;
    font-weight: 600;
}
.company-address-list {
  width: 1038px;
  display: inline-block;
}

.company-address-list a {
  padding: 4px 8px;
  cursor: pointer;
  text-decoration: none;
  color: #555;
  font-size: 13px;
}
/* 鼠标经过筛选内的地址a链接添加额外样式 */
.company-address-list a:hover{
  color: white;
  background-color: #00b38a ;
}

/* 点击额外添加样式 */

.company-address-list-active {
  background-color: #00b38a !important;
  color: white !important;
  text-decoration: none;
}

/* 更多 */

.company-btn-more {
  width: 51px;
  padding: 4px 8px;
  position: relative;
}

.company-btn-more i {
  position: absolute;
  top: 9px;
  right: 15px;
  font-size: 0;
  height: 0;
  width: 0;
  border-width: 6px 6px 0;
  border-style: solid dashed;
  border-color: #00b38a transparent transparent;
  overflow: hidden;
}

/* 排序方式 star */

.company-sort {
  margin-top: 13px;
  height: 15px;
  padding: 12px;
  text-align: left;
  line-height: 15px;
  font-size: 13px;
  border: 1px solid #ededed;
}

/* 左边盒子 */

.company-sort-left {
  margin-right: 35px;
  padding-left: 16px;
}

.company-sort-left a {
  padding: 4px 8px;
  cursor: pointer;
  text-decoration: none;
}

/* 右边盒子 */

.company-sort-right {
  width: 114px;
  margin-right: 18px;
  text-align: right;
  cursor: default;
}

/* 排序方式 end */

/* 公司列表 star */

.companyList-container {
  padding-top: 4px;
}

.companyList-container ul {
  width: 1216px;
  zoom: 1;
}

.companyList-container ul li {
  box-sizing: border-box;
  float: left;
  width: 288px;
  height: 270px;
  margin-top: 16px;
  margin-right: 16px;
  border: 1px solid #EEE;
}

.companyList-container ul li:hover {
  box-shadow: 0 0 10px 0 rgba(56, 81, 76, .12);
}

/* 企业LOGO 上 */

.companyList-top {
  margin: 0 13px;
  padding: 20px 0 14px;
  text-align: center;
  border-bottom: 1px dashed #E0E0E0;
  position: relative;
}

.companyList-top p {
  line-height: 22px;
}

.companyList-top p img {
  width: 80px;
  height: 80px;
}

.companyList-top h3 {
  margin-top: 13px;
  font-size: 16px;
  color: #555;
  font-weight: normal;
}

.companyList-top-one {
  margin: 3px auto 0;
  color: #999;
}

.companyList-top-two {
  margin: 5px auto 0;
  color: #555;
}

.companyList-bottom a {
  width: 90px;
  position: relative;
  display: block;
  margin-top: 17px;
  text-align: center;
  float: left;
}

.companyList-green {
  color: #00b38a;
}

/* 线 */

.companyList-line {
  position: relative;
}

.companyList-line::after {
  position: absolute;
  top: -10px;
  right: 0;
  content: "";
  height: 30px;
  width: 1px;
  background: #EDEDED;
}

/* 公司列表 end */

/* 分页 */

.companyList-pages {
  margin: 40px;
  width: 100%;
  height: 30px;
  border: 1px solid #c0c0c0;
}

/* 热门内容 star */

.company-hotList {
  width: 100%;
  margin-top: 52px;
  overflow: hidden;
}

.company-hotList dl {
  position: relative;
}

/* 头部 */

.company-hotList dl dt {
  border-bottom: 1px solid #E8E8E8;
  font-size: 16px;
  color: #333;
  margin-bottom: 21px;
}

.company-link {
  margin-right: 20px;
  cursor: pointer;
}

/* 点谁谁加下划线 */

.company-hot-current {
  display: inline-block;
  padding: 14px 0;
  border-bottom: 2px solid #333;
}
/* 内容 */
.company-dd-list{
  position: relative;
  width: 1120px;
  color: #555;
  font-size: 14px;
  overflow: hidden;
}
.company-dd-list a{
  white-space: nowrap;
  float: left;
  height: 15px;
  padding: 8px 18px 8px 0;
  line-height: 15px;
  color: #555;
  text-decoration: none;
}
.company-dd-list a:hover{
  color : #00b38a;
  text-decoration: underline;
}
/* 展开 */
.company-nofollow{
  height: 22px;
  position: absolute;
  right: 3px;
  top: 78px;
  cursor: pointer;
  color: #999;
}
.company-nofollow i{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-image: url("./images/arrow_down2_eea7e54.png");
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 12px 6px;
}
/* 默认显示一行人才网,并高度99px */
.company-default{
  height: 99px;
}
/* 默认隐藏第一行之外的人才网a标签样式 */
.company-perples{
  display: none;
}

/* 热门内容 end */

/* 主题内容 end */