* {
  padding: 0;
  margin: 0;
}

.register-box {
  min-width: 1024px;
}

 .register-header {
  background: #fff;
}

 .register-header .register-header-bg {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
}

 .register-header .register-header-bg .register-header-img {
  float: left;
  margin: 15px 0;
  width: 222px;
  height: 34px;
}

 .register-header .register-header-bg .register-header-right {
  /* position: relative; */
  font-size: 14px;
  color: #999;
  float: right;
  height: 60px;
  line-height: 60px;
}


  .icon_app {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.register-middle {
    min-height: 694px;
    background: #00b38a;
    background-image: url(../images/register/register_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    background-size: auto 112px;
}

 .register-middle-container {
  width: 1000px;
  margin: 0 auto;
}
 .register-middle-container .register-middle-img {
  display: block;
  /* margin: 28px 0 8px; */
  padding: 28px 0 8px;
  height: 34px;
}

 .register-middle-container .register-middle-home {
  overflow: hidden;
}

 .register-middle-home .home-left {
  float: left;
  width: 610px;
  height: 470px;
}


.home-left-seach {
  height: 46px;
  background-color: #fff;
  line-height: 46px;
  border-radius: 6px;
}
.home-left-seach .home-left-img {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 11px 0 22px;
  /* position: absolute; */
}

.search-input {
  font-size: 14px;
  color: #666;
  letter-spacing: 0;
  width: 430px;
  /* padding-left: 49px; */
  flex: 1;
  /* line-height: 35px; */
  border: none;
  outline: none;
}

.search-btn {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  background: #00b38a;
  border-radius: 2px;
  border: 0;
  padding: 7px 25px;
}

.select-content {
  margin-top: 10px;
  display: flex;
}
.select-search-lab {
  width: 112px;
  background: #00906f;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  height: 414px;
}
.search-lab {
  display: block;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  width: 102px;
  height: 67px;
  margin: auto;
  line-height: 67px;
}

.search-lab.active {
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 4px;
  color: #007d61;
}
.select-search-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: -10px;
  height: 424px;
}

.select-search-content .middle-banner{
  border-radius: 4px;
  opacity: .72;
}

/*  */
.middle-right{
  width: 360px;
  float: right;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px #12a591;
  padding: 57px 50px 35px;
  box-sizing: border-box;
}

.middle-title{
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  position: relative;
  line-height: 26px;
  margin-bottom: 47px;
}

.middle-green{
  color: #00b38a;
}

.middle-green:after{
  content: "";
  width: 24px;
  height: 3px;
  opacity: .3;
  background: #333;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translateX(-50%);
}

#phone_form{
  display: block;
}

#phone_form ul {
  list-style: none;
  margin-bottom: 24px;
}

#phone_form ul li{
  position: relative;
 margin-bottom: 27px;
}


.area_code {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  float: left;
  width: 50px;
  height: 38px;
  padding-right: 22px;
  line-height: 40px;
  cursor: default;
}

.area_code:after {
  position: absolute;
  content: "";
  right: 8px;
  top: 14px;
  display: block;
  width: 10px;
  height: 10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAANFJREFUOBHtkr0NwjAQheNkCqZhDyoax4IiDJCaAYIEyK6oKDwEq5n3FJyI4BiHNBQ56Wzf36fTnbNskb+bgDDGrNHVHXosy/LyS4dg7FFXQze5EKLAY+WcO2utq6lA1rCWDLJyKeUDjh0MB2czBfrKbVhLBlnCd4SgQuCKAH0HpdTJx0L3EIZ8zbwOSCMVOgb7AKZAY7AgMAb9BhsFhqD0QboF+Jm17v58m2Hvbl+DmWZ+m2MwVkWBTMCn3eLyG6/w+W+w54m1tqDOoyzVqRN4AgXLjC5IHionAAAAAElFTkSuQmCC) no-repeat;
  background-size: contain;
}

.area_code_list {
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 10;
  display: none;
  width: 200px;
  max-height: 288px;
  border: 1px solid #eee;
  overflow-y: scroll;
  background-color: #fff;
}

.area_code_list dl {
  line-height: 36px;
  cursor: default;
}

.area_code_list dt {
  padding: 0 12px;
  color: #999;
  background-color: #fbfbfb;
}

.area_code_list dd {
  padding: 0 12px;
  color: #555;
}

.area_code_list .tips {
  color: #b5b5b5;
  padding: 40px 12px;
}

.middle-right form input.error {
  border-bottom: 1px solid #ff6a6a;
}

.middle-right form input:not([type=button]) {
  display: block;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
}

.area_code_list+input {
  padding-left: 72px;
}

form span.error {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #fd5f39;
  position: absolute;
  top: 43px;
}

.middle-right .yzmli {
  display: none;
}

.middle-right form input:not([type=button]) {
  display: block;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
}

.yzmli input {
  padding-right: 110px;
}

.reflash, .yzm {
  position: absolute;
  right: 0;
  top: 1px;
  width: 98px;
}

.yzm {
  z-index: 1;
  line-height: 38px;
  color: #777;
}

.reflash {
  z-index: 2;
  height: 38px;
}

.reflash, .yzm {
  position: absolute;
  right: 0;
  top: 1px;
  width: 98px;
}

.lp-login .coderli {
  margin-bottom: 0;
}

.getcode {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  color: #00b38a;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}


.verify_tips {
  margin: 21px 0 0;
  color: #777;
  overflow: hidden;
}
.middle-right form li:last-of-type {
  margin-bottom: 0;
}
 
.verify_tips .voice_btn {
  outline: none;
  text-decoration: none;
  color: #00b389;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.verify_tips_count_down, .verify_tips_main {
  display: none;
}

.middle-right .submitBtn {
  display: block;
  height: 48px;
  line-height: 48px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(90deg,#09cb9d,#02b389);
  border-radius: 3px;
}

.lp_agreeNotice_box {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  text-align: center;
}

.lp_agreeNotice_box p a {
  color: #00b38a;
}

.login_btn {
  text-align: center;
  margin-top: 44px;
}

.login_btn a {
  font-size: 14px;
  color: #00b38a;
  text-decoration: underline;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.register-footer{
    padding: 35px 20px;
    background: #fff;
}

.register-footer .info {
  width: 1024px;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.register-footer .info{
  list-style: none;
}

.register-footer .info li {
  float: left;
  margin-right: 65px;
}

.register-footer .info div {
  float: right;
  margin-left: 15px;
}

.register-footer .info li img {
  float: left;
  width: 43px;
}

.register-footer .info .title {
  font-size: 18px;
  color: #333;
  height: 20px;
  line-height: 20px;
}

.register-footer .info .content {
  font-size: 12px;
  color: #666;
  height: 32px;
  line-height: 32px;
}

.register-footer .info .end {
  float: left;
  margin-right: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* register-cp-footer区域 */
.register-cp-footer {
  width: 1000px;
  margin: auto;
  padding-bottom: 30px;
  overflow: hidden;
  border-top: 1px solid #d5dadf;
}

.register-cp-footer img {
  display: block;
  margin: 24px auto 6px;
}

.register-cp-footer .cp-footer-info {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 12px;
}

.cp-footer-line {
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 5px;
  background: #ccc;
  overflow: hidden;
}